html {
	font-size: 10px;
}

body {
	background-color: #0090CF;
	background-color: hsla(198, 100%, 41%, 1.0);
	font-family: "OpenSansLight", "OpenSansRegular", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 100;
	line-height: 1.4;
	color: #F5FCFF;
	text-transform: upper;
	width: 100%;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
	color: #F5FCFF;
	text-decoration: none;
	font-weight: 100;
}

a:hover {
	text-decoration: underline;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #000000;
	background-color: rgba(0,0,0,1.0);
	background-color: hsla(0,0%,0%,1.0);
}

header h1 {
	margin: 0;
	padding: 7px 20px 10px;
	padding: .7rem 2rem 1rem;
	font-size: 24px;
	font-size: 2.4rem;
	color: #FFFFFF;
	font-weight: normal;
}

footer {
	width: 100%;
}

footer p {
	padding: 7px 20px 10px;
	padding: .7rem 2rem 1rem;
	font-size: 16px;
	font-size: 1.6rem;
	color: #FFFFFF;
	font-weight: normal;	
}

#footer-menu {
	display: table;
	padding: 0rem 2rem;
}

.footer-button {
	float: left;
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	color: #F5FCFF;
	font-size: 2.4px;
	font-size: 2.4rem;
	font-style: normal;
}

.footer-button:hover {
	color: #F5FCFF;
}

section {
	padding: 8rem 3rem 3rem 3rem;
	margin: 0px auto;
	width: 80%;
}

hr {
	size: 1px;
	noshade: noshade;
	width: 2rem;
	color: #F5FCFF;
}

.wide {
	size: 1px;
	noshade: noshade;
	width: 42rem;
	color: #F5FCFF;
}

#menu {
	position: absolute;
	top: 0;
	right: 20px;
	right: 2rem;
}

.menu-button {
	float: left;
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	color: #888;
	font-size: 16px;
	font-size: 1.6rem;
	font-style: normal;
}

.menu-button:hover {
	color: #F5FCFF;
}

h1 {
	font-size: 4rem;
	font-weight: 100;
	padding: 0rem 0rem 1rem 0rem;
}

h2 {
	font-family: "OpenSansRegular";
	font-size: 3rem;
	padding: 0.8rem 0rem 0rem 0rem;
}

h3 {
	font-size: 2.4rem;
	font-weight: 100;
}

section {
	display: block;
	text-align: center;
}

button {
	display: inline-block;
	white-space: nowrap;
	background-color: #ddd;
	border: 1px solid #777;
	padding: 0.5rem 1rem;
	margin: 1rem;
	font: 2.4rem/2.8rem Helvetica Neue, Arial;
	text-decoration: none;
	color: #333;
	width: 38rem;
}

.dual {
	display: inline-block;
	white-space: nowrap;
	background-color: #ddd;
	border: 1px solid #777;
	padding: 0.5rem 1rem;
	margin: 1rem;
	font: 1.5rem/2.8rem Helvetica Neue, Arial;
	text-decoration: none;
	color: #333;
	width: 18rem;
}

button:hover
{
	background-color: #ddd;        
}

button:active
{
	position: relative;
	top: 1px;
}

button:focus
{
	outline: 0;
	background: #fafafa;
}

button:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	pointer-events: none;
}


/*------------------------  BASE-REM SIZING  */


@media (min-width: 1401px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
}

/* target screen width  */
@media (max-width: 1280px) {
	html {
		font-size: 10px;
	}
}
	
@media (max-width: 1160px) {
	html {
		font-size: 9px;
	}
}
	
@media (max-width: 1040px) {
	html {
		font-size: 8px;
	}
}
	
@media (max-width: 920px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 800px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 680px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 560px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 440px) {
	html {
		font-size: 7px;
	}
}

@media (max-width: 320px) {
	html {
		font-size: 7px;
	}
}